[flake8]
# E203: Whitespace before ':' (YAPF/Black compatibility)
# W503: Line break before binary operator
ignore = E203, W503
max-line-length = 120
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,backend/tests