# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Data & Media: Uncomment to avoid uploading 500 videos 
# data/input/*
# data/output/*

# IDE & System
.vscode/
.idea/
*.swp
.DS_Store

# Personal  
docs/PLAN.md
docs/ACTIVITIES.md
docs/MANUAL.md
docs/CHANGELOG.md
